<header class="header">
  <div class="brand">
    <a href="">
      <img src="assets/logos/the_lord_black.png" alt="The Lord" class="logo" />
    </a>
  </div>

  <nav class="nav">
    @if (isHandset$ | async) {
      <button
        type="button"
        mat-icon-button
        (click)="showMobileContent = !showMobileContent"
      >
        <mat-icon>{{ showMobileContent ? "close" : "menu" }}</mat-icon>
      </button>
    } @else {
      <a (click)="openReservationsDialog()">marcações.</a>
      <a href="#gallery">galeria.</a>
      <a href="#stores">lojas.</a>
      <a href="#contact">contato.</a>
    }
  </nav>
</header>

@if (showMobileContent) {
  <div
    class="mobile-toolbar-content"
    animate.enter="fade-in"
    animate.leave="fade-out"
  >
    <div class="content">
      <a (click)="showMobileContent = false; openReservationsDialog()"
        >marcações.</a
      >
      <a href="#gallery" (click)="showMobileContent = false; (true)">galeria.</a>
      <a href="#stores" (click)="showMobileContent = false; (true)">lojas.</a>
      <a href="#contact" (click)="showMobileContent = false; (true)">contato.</a>
    </div>
  </div>
}
