<div class="footer-container">
  <!-- <div class="footer-content">
    <app-reusable-header></app-reusable-header>
  </div> -->
  <div class="footer-content">
    <div class="the-lord-logo">
      <a href="">
        <img src="assets/logos/the_lord_logo_golden.png" />
      </a>
    </div>
    <div class="social-media">
      <a href="https://www.instagram.com/thelord.pt/">
        <img src="assets/socials/insta.png" />
      </a>
      <a href="https://www.facebook.com/pt.thelord/">
        <img src="assets/socials/fb.png" />
      </a>
      <a href="https://www.tiktok.com/@thelord.pt/">
        <img src="assets/socials/tiktok.png" />
      </a>
    </div>
    <div class="partners">
      <a href="https://godisaman.com/">
        <img src="assets/partners/GODISAMAN.png" />
      </a>
      <a href="https://uppercutdeluxe.com/">
        <img src="assets/partners/UPPERCUT.png" />
      </a>
      <a href="https://www.depotmaletools.com/en/">
        <img src="assets/partners/DEPOT.png" />
      </a>
      <a href="https://www.reuzel.com/">
        <img src="assets/partners/REUZEL.png" />
      </a>
    </div>
  </div>
  <span class="copyright-text">© 2025 The Lord. All rights reserved.</span>
</div>
