<div class="header-container">
  <div class="navigation-header-container">
    <a href="">
      <img src="assets/logos/the_lord_logo_golden.png" />
    </a>
    <!-- <button
      mat-raised-button
      class="the-lord-button"
      (click)="openReservations()"
    >
      Marcações
    </button> -->
    <div class="social-media">
      <a href="https://www.instagram.com/thelord.pt/">
        <img src="assets/socials/insta.png" />
      </a>
      <a href="https://www.facebook.com/pt.thelord/">
        <img src="assets/socials/fb.png" />
      </a>
      <a href="https://www.tiktok.com/@thelord.pt/">
        <img src="assets/socials/tiktok.png" />
      </a>
    </div>
  </div>
</div>
