<h2>Contato</h2>

<div class="contact">
  <form class="form" (submit)="$event.preventDefault(); sent = true">
    <input placeholder="Nome" required />
    <input placeholder="Email" type="email" required />
    <textarea placeholder="Mensagem" rows="5" required></textarea>
    @if (sent) {
      <p class="ok">Obrigado por enviar!</p>
    }
    <div class="form-footer">
      <div class="contacts">
        <div class="socials">
          <a href="https://www.instagram.com/thelord.pt/">
            <img src="assets/socials/instagram.webp" />
          </a>
          <a href="https://www.facebook.com/pt.thelord/">
            <img src="assets/socials/facebook.webp" />
          </a>
          <a href="https://www.tiktok.com/@thelord.pt/">
            <img src="assets/socials/tiktok.webp" />
          </a>
        </div>
      </div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
