<h2>contato.</h2>

<div class="contact">
  <form
    id="contact-form"
    action="mailto:geral@thelord.pt"
    method="post"
    enctype="text/plain"
    class="form"
    (submit)="this.resetForm()"
  >
    <input type="text" name="nome" placeholder="Nome" required />
    <input type="email" name="email" placeholder="Email" required />
    <textarea
      name="mensagem"
      placeholder="Mensagem"
      rows="5"
      required
    ></textarea>
    @if (sent) {
      <p class="ok">Obrigado por enviar!</p>
    }
    <div class="form-footer">
      <div class="contacts">
        <div class="socials">
          <a href="https://www.instagram.com/thelord.pt/">
            <img src="assets/socials/instagram.webp" />
          </a>
          <a href="https://www.facebook.com/pt.thelord/">
            <img src="assets/socials/facebook.webp" />
          </a>
          <a href="https://www.tiktok.com/@thelord.pt/">
            <img src="assets/socials/tiktok.webp" />
          </a>
        </div>
      </div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
