<div class="homepage-container">
  <div class="logo-section">
    <swiper-container
      #swiperComponent
      class="mySwiper"
      centered-slides="true"
      slides-per-view="auto"
      loop="true"
      autoplay-delay="2000"
      autoplay-disable-on-interaction="false"
      effect="coverflow"
      coverflow-effect-rotate="15"
      coverflow-effect-stretch="-50"
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="true"
    >
      @for (slide of slides; track $index) {
      <swiper-slide>
        <img [src]="slide.image" />
      </swiper-slide>
      }
    </swiper-container>
    <div class="logo-container">
      <img src="assets/backgrounds/thelord.png" />
    </div>
    <div class="reservation-button-container">
      <div class="child-container">
        <img
          class="reservations-button"
          src="assets/buttons/marcacoes.png"
          (click)="openReservations()"
        />
      </div>
    </div>
  </div>

  <div class="stores-section">
    <!-- <h1>AS NOSSAS BARBEARIAS</h1> -->
    <div class="the-lord-stores">
      @for (store of availableStores; track $index) {
      <a [href]="store.mapsLink">
        <img class="store-image" [src]="store.image" />
      </a>
      }
    </div>
  </div>

  <div class="services-section">
    <!-- <h1>OS NOSSOS SERVIÇOS</h1> -->
    <div class="title">
      <img src="assets/titles/services_title.png" />
    </div>
    <div class="the-lord-services">
      <app-services-swiper [services]="beardServices"></app-services-swiper>
      <app-services-swiper [services]="beautyServices"></app-services-swiper>
    </div>
  </div>
</div>
