.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-section {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  position: relative;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 999;
    pointer-events: none;
  }

  swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 50vh;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .reservation-button-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    position: absolute;
    z-index: 999;
    height: 90%;

    .child-container {
      display: flex;
      height: 15%;

      .reservations-button {
        transform: translateY(0px);
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
        width: 100%;
      }

      .reservations-button:hover {
        transform: translateY(-20px);
        cursor: pointer;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
      }
    }
  }
}

.stores-section,
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;

    img {
      // width: 25%;
    }
  }

  h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: gold;

    &:after {
      content: "";
      background: white;
      display: block;
      height: 3px;
      width: 150px;
      margin: 10px auto;
    }
  }
}

.the-lord-stores {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;

  a {
    width: 100%;

    .store-image {
      transform: translateY(0px);
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      transition: 0.3s ease;
      width: 100%;
    }

    .store-image:hover {
      transform: translateY(-20px);
      cursor: pointer;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      transition: 0.3s ease;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-container {
    img {
      width: 100%;
    }
  }

  .the-lord-services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-container {
    img {
      width: 100%;
    }
  }

  .the-lord-services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-container {
    img {
      width: 75%;
    }
  }

  .the-lord-stores {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-container {
    img {
      width: 75%;
    }
  }

  .the-lord-services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
