.background-image-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100vw;
  opacity: 0.1;
  z-index: -1;
  overflow: hidden;

  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.filler-image {
  object-fit: contain;
  width: 100%;
  content: url(../../../../../public/assets/backgrounds/section_background.png);
}

@media only screen and (max-width: 768px) {
  .filler-image {
    content: url(../../../../../public/assets/backgrounds/section_background_mobile.png) !important;
  }
}
