<app-header></app-header>
<main class="page">
  <div class="background-image-container">
    <img src="assets/backgrounds/transparent_background.jpg" />
  </div>
  <section id="bookings" class="section">
    <app-bookings></app-bookings>
  </section>

  <section id="gallery" class="section">
    <app-gallery></app-gallery>
  </section>

  <section id="stores" class="section">
    <app-stores></app-stores>
  </section>

  <section id="contact" class="section">
    <app-contact></app-contact>
  </section>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</main>
