// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.book-iframe-dialog {
  z-index: 99999 !important;
}

.the-lord-button {
  color: white !important;
  background-image: url(../public/assets/backgrounds/button_background.png) !important;
}
