html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e6e1d8 !important;
  background-image: url(../public/assets/backgrounds/background.png);
  background-size: 100%;
}

:host {
  background-color: #e6e1d8 !important;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
