<div class="navigation-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'"
    >
      <mat-toolbar>
        <div class="mobile-toolbar-content">
          <div class="close-button">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="content">
            <mat-nav-list>
              <a
                class="list-item"
                mat-list-item
                (click)="drawer.toggle(); openReservations()"
                ><span class="list-text">Marcações</span></a
              >
            </mat-nav-list>
            <div class="social-media">
              <a href="https://www.instagram.com/thelord.pt/">
                <img src="assets/socials/insta.png" />
              </a>
              <a href="https://www.facebook.com/pt.thelord/">
                <img src="assets/socials/fb.png" />
              </a>
              <a href="https://www.tiktok.com/@thelord.pt/">
                <img src="assets/socials/tiktok.png" />
              </a>
            </div>
          </div>
        </div>
      </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="navigation-toolbar" color="primary">
        <div class="navigation-actions">
          @if (isHandset$ | async) {
          <div class="mobile-header-content">
            <a href="">
              <img src="assets/logos/the_lord_logo_golden.png" />
            </a>
            <button
              type="button"
              mat-icon-button
              (click)="drawer.toggle()"
              class="mobile-toolbar-button"
            >
              <mat-icon>{{ sidenavOpen ? "close" : "menu" }}</mat-icon>
            </button>
          </div>
          } @else {
          <div class="header-content">
            <app-reusable-header></app-reusable-header>
          </div>
          }
        </div>
      </mat-toolbar>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
